*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Montserrat',sans-serif;
    width: 1000px;
    margin: 0 auto;
    font-weight: 100;
}

/* Modifica spessore scrittura */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/* Logo-iniziale */
.logo-inizio{
    width: 160px;
}

/* Lista */
.lista{
    margin-top: 40px;
}

.lista li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.lista li a{
    text-decoration: none;
    color: #858585;
}
/* Fine-lista */

/* Fase-centrale */
.central-text {
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 1000px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Testo-intro */
.testo-intro{
    width: 600px;
    padding-left: 90px;
    padding-top: 140px;
    color: #696969;
}

/* Fase-centrale 2 */
.central-text2{
    background-color: dodgerblue;
    height: 400px;
    margin-top: 10px;
}

/* Per-float-fix */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* Colonna */
.colonne{
    height: 50px;
    background: lightblue;
    float: left;
    margin-left: 25px;
    width: 30%;
    height: 330px;
    margin-top: 10px;
}

/* Colonna-1 */
.colonne-1{
    height: 50px;
    background: lightblue;
    float: left;
    width: 20%;
    height: 330px;
    margin-top: 1%;
}

/* Colonna-2 */
.colonne-2{
    height: 50px;
    background: lightblue;
    float: left;
    width: 56%;
    height: 330px;
    margin: 1% 2%;
}

/* Colonna-3 */
.colonne-3{
    height: 50px;
    background: lightblue;
    float: left;
    width: 20%;
    height: 330px;
    margin-top: 1%;
}

/* Testo-fase2 */
.barra1{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}

.grandezza-testo{
    font-size: 16px;
    color: #696969;
}

/* Footer */
footer{
    text-align: center;
    height: 30px;
    margin-top: 10px;
}